services:
  app:
    build: .
    env_file:
      - .env
    volumes:
      - ./:/app
    working_dir: /app
    command: python src/pipeline.py
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: de
      POSTGRES_USER: de
      POSTGRES_PASSWORD: de
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
